<%= error_messages_for 'btbill' %>

<!--[form:btbill]-->
<p><label for="btbill_bill_date">Bill date</label><br/>
<%= datetime_select 'btbill', 'bill_date'  %></p>

<p><label for="btbill_uploaded_by">Uploaded by</label><br/>
<%= text_field 'btbill', 'uploaded_by'  %></p>

<input type="file" name="btbill[billcsv]" />

<!--[eoform:btbill]-->

