<%= error_messages_for 'client' %>

<!--[form:client]-->
<p><label for="client_name">Name</label><br/>
<%= text_field 'client', 'name'  %></p>

<p><label for="client_extensions">Extensions</label><br/>
<%= text_field 'client', 'extensions'  %></p>
<!--[eoform:client]-->

