<%= error_messages_for 'clientcdr' %>

<!--[form:clientcdr]-->
<p><label for="clientcdr_src">Src</label><br/>
<%= text_field 'clientcdr', 'src'  %></p>

<p><label for="clientcdr_dst">Dst</label><br/>
<%= text_field 'clientcdr', 'dst'  %></p>

<p><label for="clientcdr_dt">Dt</label><br/>
<%= datetime_select 'clientcdr', 'dt'  %></p>

<p><label for="clientcdr_cost">Cost</label><br/>
<%= text_field 'clientcdr', 'cost'  %></p>
<!--[eoform:clientcdr]-->

